.badge-info{
    margin: auto;
    margin-left: 16.5%;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 25%;
    font-size: 14px;
}
#HomeImage{
    height: 180px;
    width: 160px;
    margin-top: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
.card{
    width: 67%;
    margin: auto;  
    margin-top: 50px; 
}
.p-3{
    margin-top: 52px;
    height: 60px;
    text-align: center;
}
.mb-2{
    margin-bottom:0px;
}
form{
    width: 100%;
    margin: auto;
    margin-top: 0;
}
img{
    float: left;
    padding: 0px;
    width: 220px;
    height: 220px;
}
.imagename{
    position: absolute;
    width: 220px;
    height: 55px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-top: 15px;
    margin-top: 150px;
}
.container{
    padding-left: 25px;
    padding-right: 5px;
}
.row{
    margin-bottom: 20px;
}
p{
    font-size: 17px;
}
br{
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 13px; /* change this to whatever height you want it */
}
